.content-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0% auto 3% auto;
  justify-content: center;
  text-align: center;
}

.main-content {
  font-size: 20px;
  letter-spacing: 3px;
}
.sign {
  text-align: right;
  margin-bottom: 5rem;
}

input, textarea, select {
  padding: 6px
}

input:focus {
  background-color: rgb(235, 230, 230);
}

.terms {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.name, .email, .message {
  width: 400px;
  margin: 10px 0px
}

.message {
  height: 200px;
}

input::placeholder, textarea::placeholder {
  font-family: Inter;
  font-size: 15px;
}

select {
  width: 415px;
}

.validation {
  font-size: 10px;
}