<div class="content-container">
    <div class="main-content">
        Hi!
        <br><br>
            We are a group of creators that like to hang out with each other. Since most of us are working in fields connected to graphics design, we felt like our conversations lacked a bit of imagery. That’s why we decided to make this project in our free time.
            We present to you the dialog box - a place, in which you can literally see our abstract thoughts and unique, free takes on different topics. A lot of things in the current world seem absurd and you can definitely see it in our “boxes”<br><br>
            After a few months of making the designs together we feel like we are ready to share it with you! Each piece in dbox tells some story or captures certain feeling, we would love you to try and interpret it yourself! In the end the dialog is what started it and we are very happy to hear and discuss everyone’s feelings about different things, hope we can hear from you through our socials!
            <br><br>
            <p class="sign">~ dialog box team</p>
    </div>
    <form #contactUs="ngForm" (submit)="sendMess(contactUs)">
        <input [(ngModel)]="name" type="text" name="name" class="name" placeholder="Hello, my name is..."><br>
        <input [(ngModel)]="email" type="text" name="email" class="email" placeholder="My email adress..."><br>
            <select name="selectSubject" id="select" [(ngModel)]="selection">
                <option value="0">Select the topic you wanna talk about</option>
                <option value="1">Collaboration</option>
                <option value="2">New project idea</option>
                <option value="3">I need an advise</option>
            </select><br>
        <textarea [(ngModel)]="message" type="text" name="message" class="message" placeholder="Tell us what you want to let us know. Maybe you have any cool idea or wanna do some colab? We are open for a Dialog(box) ;-)"></textarea><br>
        <p class="terms"><input [(ngModel)]="terms" name="terms" type="checkbox" required>Accept terms and conditions of private policy of Dialogbox</p> <br>
        <div class="validation" *ngIf="!contactUs.valid">You have to accept terms and conditions to end us a message</div>
            <app-button type="submit" text="Send us a message" (click)="resetForm(contactUs)"></app-button>
    </form>
</div>