  <div [formGroup]=searchGroup>
    <input type="text" placeholder="Search by title" formControlName='searchBar'>
      <div class="mainpage-tokens">
        <ng-container *ngIf="(tokens$ | async) as data">
          <div class="token-container" *ngFor="let token of data">
              <img [src]="token.get_image">
            <span class="token-undertitle">
              <span class="title">{{token.title}}</span>
              <span class="undertitle">s{{token.serie}}|nº{{token.number}}|#{{token.author}}</span>
            </span>
          </div>
        </ng-container>
      </div>
</div>